@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&family=Source+Sans+Pro:wght@300;400;600&display=swap");

$primary-color: #aa1e23;

body {
  font-size: 62.5%;
  margin: 0;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 50%;
    height: 100vh;
    border: 4px solid $primary-color;

    .selector {
      display: flex;
      flex-direction: row;
    }

    .box {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 2rem;
      font-family: "Source Sans Pro";
      font-weight: 600;
      width: 100px;
      height: 100px;
      background-color: $primary-color;
    }

    .box2 {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 2rem;
      font-family: "Source Sans Pro";
      font-weight: 600;
      width: 100px;
      height: 100px;
      background-color: $primary-color;
    }

    .box:hover {
      transform: scale(105%);
    }
  }
}
