@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700&family=Source+Sans+Pro:wght@300;400;600&display=swap");

//CSS RESET!
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
//END OF CSS RESET

// Variables //
$primary-color: #aa1e23;
$primary-color-light: #c63c41;
$primary-color-dark: #8c272b;
$secondary-color: #333;

//Typography Mixins
@mixin ff-raleway {
  font-family: "Raleway", "sans-serif";
}
@mixin ff-sourcesans {
  font-family: "Source Sans Pro", "sans-serif";
}

@mixin border-test {
  // border: 2px solid red;
}

//START OF HERO SECTION

.hero--section-wrapper {
  @include ff-raleway();
  @include border-test();
  width: 100%;

  height: 100vh;

  display: flex;
  flex-direction: column;

  padding: 5em 14em;

  .nav--container {
    // border: 2px solid forestgreen;
    width: 100%;
    height: auto;

    display: flex;

    .nav--list {
      display: flex;
      flex-direction: row;
      margin: 0;
      padding-top: 1rem;

      .nav--list-item {
        font-size: 2rem;

        .nav--list-link {
          color: $secondary-color;
          padding: 0 1rem;
          margin: 0 1.5rem;
          transition: 65ms ease-in-out;
        }

        .nav--list-link:hover {
          color: $primary-color-light;
          border-bottom: 3px solid $primary-color-light;
        }

        .logo--link {
          font-weight: 700;
          padding-left: 0;
          margin-left: 0;
        }

        .logo--link:hover {
          color: $secondary-color;
          border: none;
        }
      }
    }
  }

  .hero--content-container {
    // border: 2px solid darkgoldenrod;
    display: flex;
    padding-right: 20%;

    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 85vh;

    .hero--text-container {
      // border: 1px solid hotpink;

      .hero--content-title {
        font-size: 6rem;
        line-height: 7rem;
        margin-top: 2.5rem;
        padding: 1.5rem 0;
      }

      .hero--content-subtitle {
        font-size: 3.7rem;
        font-weight: 500;
        color: $secondary-color;
        padding-bottom: 1rem;

        .subtitle--decoration {
          color: $primary-color;
          font-weight: 600;
        }
      }

      .hero--content-description {
        @include ff-sourcesans();
        color: $secondary-color;
        padding-top: 0;
        padding-bottom: 5rem;
        margin-top: 0;
        font-size: 2.01rem;
        max-width: 40ch;
      }

      .btn--hero {
        background-color: $primary-color;
        color: #fff;
        width: auto;
        padding: 2rem 3rem;
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: 700;
      }

      .btn--hero:hover {
        background-color: $primary-color-dark;
      }

      .btn--hero:active {
        background-color: $primary-color;
      }
    }

    .guitar--container {
      // border: 2px solid blue;
      margin: auto;
      padding-bottom: 1rem;

      .guitar--image {
        display: block;
        max-width: 145%;
        padding-left: 4rem;
      }
    }
  }
}

.background--decoration {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;

  background-color: $primary-color;

  width: 100vw;
  height: 1.5%;
}

.image--triangle {
  position: absolute;
  bottom: 1.5%;
  left: 0;
  z-index: -1;

  width: 100%;
}

//END OF HERO SECTION

//FEATURES SECTION

//END OF FEATURES SECTION
