/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700&family=Source+Sans+Pro:wght@300;400;600&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  scroll-behavior: smooth;
}

@-webkit-keyframes fadeInContent {
  from {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInContent {
  from {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.animate {
  -webkit-animation: fadeInContent 1s ease forwards;
          animation: fadeInContent 1s ease forwards;
}

.hero--section-wrapper {
  font-family: "Raleway", "sans-serif";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 5% 8%;
}

.hero--section-wrapper .content--wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero--section-wrapper .content--wrapper .nav--container {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
}

.hero--section-wrapper .content--wrapper .nav--container .nav--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding-top: 1rem;
}

.hero--section-wrapper .content--wrapper .nav--container .nav--list .nav--list-item {
  font-size: 2rem;
}

.hero--section-wrapper .content--wrapper .nav--container .nav--list .nav--list-item .nav--list-link {
  padding: 0 1rem;
  margin: 0 1.5rem;
  color: #333;
  -webkit-transition: 65ms ease-in-out;
  transition: 65ms ease-in-out;
}

.hero--section-wrapper .content--wrapper .nav--container .nav--list .nav--list-item .nav--list-link:hover {
  border-bottom: 3px solid #c63c41;
  color: #c63c41;
}

.hero--section-wrapper .content--wrapper .nav--container .nav--list .nav--list-item .logo--link {
  padding-left: 0;
  margin-left: 0;
  font-weight: 700;
}

.hero--section-wrapper .content--wrapper .nav--container .nav--list .nav--list-item .logo--link:hover {
  border: none;
  color: #333;
}

.hero--section-wrapper .content--wrapper .hero--content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 85vh;
  padding-right: 18%;
}

.hero--section-wrapper .content--wrapper .hero--content-container .hero--text-container {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 6rem;
}

.hero--section-wrapper .content--wrapper .hero--content-container .hero--text-container .hero--content-title {
  margin-top: 2.5rem;
  padding: 0.75rem 0;
  font-size: 5rem;
  line-height: 7rem;
}

.hero--section-wrapper .content--wrapper .hero--content-container .hero--text-container .hero--content-subtitle {
  padding-bottom: 1rem;
  font-size: 2.7rem;
  font-weight: 500;
  color: #333;
}

.hero--section-wrapper .content--wrapper .hero--content-container .hero--text-container .hero--content-subtitle .subtitle--decoration {
  color: #aa1e23;
  font-weight: 600;
}

.hero--section-wrapper .content--wrapper .hero--content-container .hero--text-container .hero--content-description {
  font-family: "Source Sans Pro", "sans-serif";
  padding-top: 0;
  padding-bottom: 5rem;
  margin-top: 0;
  font-size: 2.01rem;
  max-width: 40ch;
  color: #333;
}

.hero--section-wrapper .content--wrapper .hero--content-container .hero--text-container .btn--hero {
  width: 22rem;
  padding: 2rem 3rem;
  border-radius: 0.1em;
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #aa1e23;
  color: #fff;
}

.hero--section-wrapper .content--wrapper .hero--content-container .hero--text-container .btn--hero:hover {
  background-color: #8c1f23;
}

.hero--section-wrapper .content--wrapper .hero--content-container .hero--text-container .btn--hero:active {
  background-color: #aa1e23;
}

.hero--section-wrapper .content--wrapper .hero--content-container .guitar--image {
  opacity: 0;
  display: block;
  width: 148%;
  height: auto;
  padding: 8rem 0;
}

.hero--section-wrapper .content--wrapper .background--decoration {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 1.5%;
  background-color: #aa1e23;
}

.hero--section-wrapper .content--wrapper .image--triangle {
  position: absolute;
  bottom: 1.5%;
  left: 0;
  z-index: -1;
  width: 100%;
}

.features--section-wrapper {
  font-family: "Raleway", "sans-serif";
  background-color: #f4f4f4;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100vh;
  padding: 4em 8%;
  padding-right: 7em;
}

.features--section-wrapper .background--decoration-features {
  position: absolute;
  width: 100%;
  height: 1.5%;
  top: 0;
  left: 0;
  background-color: #8c1f23;
}

.features--section-wrapper .image--dark-triangle {
  position: absolute;
  top: 1.5%;
  left: 0;
  z-index: 0;
  width: 100%;
  height: auto;
}

.features--section-wrapper .image--container-gig {
  opacity: 0;
}

.features--section-wrapper .image--container-gig .gigbag--image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.features--section-wrapper .features--content-container {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 100%;
  font-size: 2rem;
}

.features--section-wrapper .features--content-container .features--content-title {
  color: #8c1f23;
  text-transform: uppercase;
  font-size: 4.5rem;
  margin-bottom: -0.75rem;
}

.features--section-wrapper .features--content-container .features--content-subtitle {
  font-family: "Raleway", "sans-serif";
  color: #333;
  max-width: 35ch;
  margin-bottom: 1em;
  font-size: 2.2rem;
  font-weight: normal;
}

.features--section-wrapper .features--content-container ul {
  margin: 0;
  padding: 0;
  margin-left: 2.7rem;
}

.features--section-wrapper .features--content-container ul .features--content-listitem {
  font-family: "Source Sans Pro", "sans-serif";
  list-style: inside;
  list-style-position: outside;
  font-size: 2.01rem;
  padding-bottom: 2rem;
}

.features--section-wrapper .features--content-container ul .features--content-listitem:last-child {
  padding-bottom: 0;
}

.review--section-wrapper {
  font-family: "Raleway", "sans-serif";
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  padding: 4em 8%;
}

.review--section-wrapper .content--wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review--section-wrapper .content--wrapper .review--content-container {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.review--section-wrapper .content--wrapper .review--content-container .review--content-title {
  color: #8c1f23;
  text-transform: uppercase;
  font-size: 4.5rem;
}

.review--section-wrapper .content--wrapper .review--content-container .review--content-subtitle {
  color: #333;
  font-size: 2.2rem;
  font-weight: normal;
  margin-top: -1rem;
}

.review--section-wrapper .content--wrapper .video--wrapper {
  width: 100%;
  max-width: 850px;
  margin: 3rem auto;
}

.review--section-wrapper .content--wrapper .video--wrapper .video--container {
  width: 100%;
  max-width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.review--section-wrapper .content--wrapper .video--wrapper .video--container iframe {
  opacity: 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.soundtest--section-wrapper {
  font-family: "Raleway", "sans-serif";
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 4em 8%;
}

.soundtest--section-heading {
  opacity: 0;
  margin-bottom: 5rem;
}

.soundtest--section-title {
  color: #8c1f23;
  text-transform: uppercase;
  font-size: 4.5rem;
}

.soundtest--section-subtitle {
  color: #333;
  font-size: 2.2rem;
  font-weight: normal;
  margin-top: -1rem;
}

.soundtest--slider {
  margin-bottom: 3rem;
  opacity: 0;
}

.slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-container .slider-background {
  border: 2px solid #333;
  width: 20rem;
  height: 2.5rem;
  padding: 0.45rem 0.4rem;
  border-radius: 0.4rem;
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5), 0 3px 5px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5), 0 3px 5px 2px rgba(0, 0, 0, 0.1);
}

.slider-container .slider-background .slider {
  width: 50%;
  height: 100%;
  border-radius: 0.2rem;
  -webkit-transition: background-color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  border: none;
}

.slider-disabled {
  background-color: #6a6a6a;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.slider-enabled {
  background-color: #aa1e23;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.toggle-text {
  font-family: "Raleway";
  color: #333;
  font-size: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.text-disabled::after {
  content: " Disabled";
  font-family: "Source Sans Pro";
  letter-spacing: 0.03rem;
  font-weight: bolder;
  color: #6a6a6a;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.text-enabled::after {
  font-family: "Source Sans Pro";
  content: " Enabled";
  letter-spacing: 0.03rem;
  font-weight: bolder;
  color: #aa1e23;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.soundtest--content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  margin-bottom: 4rem;
}

.guitar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20rem;
  min-width: 70rem;
}

.guitar-container .guitar-head {
  position: relative;
  z-index: 2;
  width: 5rem;
  background-color: #c4c4c4;
  color: #fff;
  -webkit-box-shadow: inset -10px 0 30px 5px #6a6a6a;
          box-shadow: inset -10px 0 30px 5px #6a6a6a;
  font-size: 2rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.guitar-container .guitar-head .string-name-indicator {
  padding-left: 2rem;
}

.guitar-container .guitar-neck {
  position: relative;
  width: 55rem;
  height: 100%;
}

.guitar-container .guitar-neck .guitar-neck-bg {
  position: absolute;
  display: block;
  background-image: url("../imgs/guitarneck.jpg");
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.guitar-container .guitar-neck .guitar-frets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 100%;
  position: absolute;
}

.guitar-container .guitar-neck .guitar-frets .fret {
  width: 0.6rem;
  height: auto;
  background-color: #a9a9a9;
  -webkit-box-shadow: inset 0 0 0.4px 2px #1d1d1d;
          box-shadow: inset 0 0 0.4px 2px #1d1d1d;
  z-index: 1;
}

.guitar-container .guitar-neck .guitar-strings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.guitar-container .guitar-neck .guitar-strings .string {
  height: 1.3rem;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 4.5px 3.5px #6a6a6a, 0 0 6px 2px #454545;
          box-shadow: inset 0 0 4.5px 3.5px #6a6a6a, 0 0 6px 2px #454545;
}

.guitar-container .guitar-neck .guitar-strings .string:hover {
  background-color: #d74a4f;
  -webkit-box-shadow: inset 0 0 4.5px 3.5px #600508, 0 0 6px 2px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 4.5px 3.5px #600508, 0 0 6px 2px rgba(0, 0, 0, 0.5);
}

.guitar-container .guitar-end {
  width: 2rem;
  background-color: #f4f4f4;
  -webkit-box-shadow: -20px 0 15px 20px #f4f4f4;
          box-shadow: -20px 0 15px 20px #f4f4f4;
  z-index: 1;
}

.chord-selector {
  color: #333;
  font-size: 2rem;
  -webkit-transform: translateY(-12.5rem);
          transform: translateY(-12.5rem);
}

.chord-selector .chord-text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.chord-dropdown {
  background-color: #e3e3e3;
  border-radius: 5px;
  margin-top: 1rem;
  z-index: 1;
  -webkit-box-shadow: 0 10px 10px 1px rgba(130, 130, 130, 0.1);
          box-shadow: 0 10px 10px 1px rgba(130, 130, 130, 0.1);
}

.chord-dropdown p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 1rem 0;
  cursor: pointer;
}

.chord-dropdown p:hover {
  background-color: #8c1f23;
  color: #fff;
}

.chord-dropdown p:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.chord-dropdown p:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.footer--section-wrapper {
  font-family: "Raleway", "sans-serif";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  padding: auto 8%;
  background-color: #333;
}

.footer--section-wrapper .content--wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer--section-wrapper .content--wrapper .footer--content-container {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 6rem;
}

.footer--section-wrapper .content--wrapper .footer--content-container .footer--content-title {
  color: #fff;
  font-size: 4.5rem;
}

.footer--section-wrapper .content--wrapper .footer--content-container .footer--content-subtitle {
  color: #e8e8e8;
  font-size: 2.2rem;
  font-family: "Source Sans Pro", "sans-serif";
  margin-top: -1rem;
}

.footer--section-wrapper .content--wrapper .footer--content-container .btn--footer {
  width: 23rem;
  padding: 1rem 3rem;
  border-radius: 0.1em;
  margin-top: 3rem;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #aa1e23;
  color: #fff;
}

.footer--section-wrapper .content--wrapper .footer--content-container .btn--footer:hover {
  background-color: #8c1f23;
}

.footer--section-wrapper .content--wrapper .footer--content-container .btn--footer:active {
  background-color: #aa1e23;
}

.footer--section-wrapper .content--wrapper .footer--section-links {
  background-color: #121212;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 0;
}

.footer--section-wrapper .content--wrapper .footer--section-links .footer--copyright {
  color: #8c8c8c;
  font-size: 1.6rem;
  letter-spacing: 0.08rem;
  padding-bottom: 1.2rem;
}

.footer--section-wrapper .content--wrapper .footer--section-links .social--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.footer--section-wrapper .content--wrapper .footer--section-links .social--icons i {
  font-size: 3rem;
  color: #8c8c8c;
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}

.footer--section-wrapper .content--wrapper .footer--section-links .social--icons i:hover {
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */