/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700&family=Source+Sans+Pro:wght@300;400;600&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  scroll-behavior: smooth;
}

@-webkit-keyframes fadeInContent {
  from {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInContent {
  from {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.animate {
  -webkit-animation: fadeInContent 1s ease forwards;
          animation: fadeInContent 1s ease forwards;
}

.hero--section-wrapper {
  font-family: "Raleway", "sans-serif";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 5% 8%;
}

.hero--section-wrapper .content--wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero--section-wrapper .content--wrapper .nav--container {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
}

.hero--section-wrapper .content--wrapper .nav--container .nav--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding-top: 1rem;
}

.hero--section-wrapper .content--wrapper .nav--container .nav--list .nav--list-item {
  font-size: 2rem;
}

.hero--section-wrapper .content--wrapper .nav--container .nav--list .nav--list-item .nav--list-link {
  padding: 0 1rem;
  margin: 0 1.5rem;
  color: #333;
  -webkit-transition: 65ms ease-in-out;
  transition: 65ms ease-in-out;
}

.hero--section-wrapper .content--wrapper .nav--container .nav--list .nav--list-item .nav--list-link:hover {
  border-bottom: 3px solid #c63c41;
  color: #c63c41;
}

.hero--section-wrapper .content--wrapper .nav--container .nav--list .nav--list-item .logo--link {
  padding-left: 0;
  margin-left: 0;
  font-weight: 700;
}

.hero--section-wrapper .content--wrapper .nav--container .nav--list .nav--list-item .logo--link:hover {
  border: none;
  color: #333;
}

.hero--section-wrapper .content--wrapper .hero--content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 85vh;
  padding-right: 18%;
}

.hero--section-wrapper .content--wrapper .hero--content-container .hero--text-container {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 6rem;
}

.hero--section-wrapper .content--wrapper .hero--content-container .hero--text-container .hero--content-title {
  margin-top: 2.5rem;
  padding: 0.75rem 0;
  font-size: 5rem;
  line-height: 7rem;
}

.hero--section-wrapper .content--wrapper .hero--content-container .hero--text-container .hero--content-subtitle {
  padding-bottom: 1rem;
  font-size: 2.7rem;
  font-weight: 500;
  color: #333;
}

.hero--section-wrapper .content--wrapper .hero--content-container .hero--text-container .hero--content-subtitle .subtitle--decoration {
  color: #aa1e23;
  font-weight: 600;
}

.hero--section-wrapper .content--wrapper .hero--content-container .hero--text-container .hero--content-description {
  font-family: "Source Sans Pro", "sans-serif";
  padding-top: 0;
  padding-bottom: 5rem;
  margin-top: 0;
  font-size: 2.01rem;
  max-width: 40ch;
  color: #333;
}

.hero--section-wrapper .content--wrapper .hero--content-container .hero--text-container .btn--hero {
  width: 22rem;
  padding: 2rem 3rem;
  border-radius: 0.1em;
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #aa1e23;
  color: #fff;
}

.hero--section-wrapper .content--wrapper .hero--content-container .hero--text-container .btn--hero:hover {
  background-color: #8c1f23;
}

.hero--section-wrapper .content--wrapper .hero--content-container .hero--text-container .btn--hero:active {
  background-color: #aa1e23;
}

.hero--section-wrapper .content--wrapper .hero--content-container .guitar--image {
  opacity: 0;
  display: block;
  width: 148%;
  height: auto;
  padding: 8rem 0;
}

.hero--section-wrapper .content--wrapper .background--decoration {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 1.5%;
  background-color: #aa1e23;
}

.hero--section-wrapper .content--wrapper .image--triangle {
  position: absolute;
  bottom: 1.5%;
  left: 0;
  z-index: -1;
  width: 100%;
}

.features--section-wrapper {
  font-family: "Raleway", "sans-serif";
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100vh;
  padding: 4em 8%;
  padding-right: 7em;
}

.features--section-wrapper .background--decoration-features {
  position: absolute;
  width: 100%;
  height: 1.5%;
  top: 0;
  left: 0;
  background-color: #8c1f23;
}

.features--section-wrapper .image--dark-triangle {
  position: absolute;
  top: 1.5%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: auto;
}

.features--section-wrapper .image--container-gig {
  opacity: 0;
}

.features--section-wrapper .image--container-gig .gigbag--image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.features--section-wrapper .features--content-container {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 100%;
  font-size: 2rem;
}

.features--section-wrapper .features--content-container .features--content-title {
  color: #8c1f23;
  text-transform: uppercase;
  font-size: 4.5rem;
  margin-bottom: -0.75rem;
}

.features--section-wrapper .features--content-container .features--content-subtitle {
  font-family: "Raleway", "sans-serif";
  color: #333;
  max-width: 35ch;
  margin-bottom: 1em;
  font-size: 2.2rem;
  font-weight: normal;
}

.features--section-wrapper .features--content-container ul {
  margin: 0;
  padding: 0;
  margin-left: 2.7rem;
}

.features--section-wrapper .features--content-container ul .features--content-listitem {
  font-family: "Source Sans Pro", "sans-serif";
  list-style: inside;
  list-style-position: outside;
  font-size: 2.01rem;
  padding-bottom: 2rem;
}

.features--section-wrapper .features--content-container ul .features--content-listitem:last-child {
  padding-bottom: 0;
}

.review--section-wrapper {
  font-family: "Raleway", "sans-serif";
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  padding: 4em 8%;
}

.review--section-wrapper .content--wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review--section-wrapper .content--wrapper .review--content-container {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.review--section-wrapper .content--wrapper .review--content-container .review--content-title {
  color: #8c1f23;
  text-transform: uppercase;
  font-size: 4.5rem;
}

.review--section-wrapper .content--wrapper .review--content-container .review--content-subtitle {
  color: #333;
  font-size: 2.2rem;
  font-weight: normal;
  margin-top: -1rem;
}

.review--section-wrapper .content--wrapper .video--wrapper {
  width: 100%;
  max-width: 850px;
  margin: 3rem auto;
}

.review--section-wrapper .content--wrapper .video--wrapper .video--container {
  width: 100%;
  max-width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.review--section-wrapper .content--wrapper .video--wrapper .video--container iframe {
  opacity: 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.footer--section-wrapper {
  position: relative;
  font-family: "Raleway", "sans-serif";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  padding: auto 8%;
  background-color: #333;
}

.footer--section-wrapper .content--wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer--section-wrapper .content--wrapper .footer--content-container {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 6rem;
}

.footer--section-wrapper .content--wrapper .footer--content-container .footer--content-title {
  color: #fff;
  font-size: 4.5rem;
}

.footer--section-wrapper .content--wrapper .footer--content-container .footer--content-subtitle {
  color: #e8e8e8;
  font-size: 2.2rem;
  font-family: "Source Sans Pro", "sans-serif";
  margin-top: -1rem;
}

.footer--section-wrapper .content--wrapper .footer--content-container .btn--footer {
  width: 23rem;
  padding: 1rem 3rem;
  border-radius: 0.1em;
  margin-top: 3rem;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #aa1e23;
  color: #fff;
}

.footer--section-wrapper .content--wrapper .footer--content-container .btn--footer:hover {
  background-color: #8c1f23;
}

.footer--section-wrapper .content--wrapper .footer--content-container .btn--footer:active {
  background-color: #aa1e23;
}

.footer--section-wrapper .content--wrapper .footer--section-links {
  background-color: #121212;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 0;
}

.footer--section-wrapper .content--wrapper .footer--section-links .footer--copyright {
  color: #8c8c8c;
  font-size: 1.6rem;
  letter-spacing: 0.08rem;
  padding-bottom: 1.2rem;
}

.footer--section-wrapper .content--wrapper .footer--section-links .social--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.footer--section-wrapper .content--wrapper .footer--section-links .social--icons i {
  font-size: 3rem;
  color: #8c8c8c;
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}

.footer--section-wrapper .content--wrapper .footer--section-links .social--icons i:hover {
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */