@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700&family=Source+Sans+Pro:wght@300;400;600&display=swap");

//CSS RESET!
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
//END OF CSS RESET

// Variables //
$primary-color: #aa1e23;
$primary-color-light: #c63c41;
$primary-color-dark: #8c1f23;
$secondary-color: #333;

//Typography Mixins
@mixin ff-raleway {
  font-family: "Raleway", "sans-serif";
}
@mixin ff-sourcesans {
  font-family: "Source Sans Pro", "sans-serif";
}

@mixin border-test {
  // border: 2px solid red;
}

html {
  scroll-behavior: smooth;
}

//START OF HERO SECTION

.hero--section-wrapper {
  @include ff-raleway();

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;
  padding: 5em 14em;

  .nav--container {
    display: flex;
    width: 100%;
    height: auto;

    .nav--list {
      display: flex;
      flex-direction: row;

      margin: 0;
      padding-top: 1rem;

      .nav--list-item {
        font-size: 2rem;

        .nav--list-link {
          padding: 0 1rem;
          margin: 0 1.5rem;

          color: $secondary-color;

          transition: 65ms ease-in-out;

          &:hover {
            border-bottom: 3px solid $primary-color-light;
            color: $primary-color-light;
          }
        }

        .logo--link {
          padding-left: 0;
          margin-left: 0;

          font-weight: 700;

          &:hover {
            border: none;

            color: $secondary-color;
          }
        }
      }
    }
  }

  .hero--content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    height: 85vh;
    padding-right: 18%;

    .hero--text-container {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;

      .hero--content-title {
        margin-top: 2.5rem;
        padding: 1.5rem 0;

        font-size: 6rem;
        line-height: 7rem;
      }

      .hero--content-subtitle {
        padding-bottom: 1rem;

        font-size: 3.7rem;
        font-weight: 500;

        color: $secondary-color;

        .subtitle--decoration {
          color: $primary-color;

          font-weight: 600;
        }
      }

      .hero--content-description {
        @include ff-sourcesans();

        padding-top: 0;
        padding-bottom: 5rem;
        margin-top: 0;

        font-size: 2.01rem;
        max-width: 40ch;

        color: $secondary-color;
      }

      .btn--hero {
        width: 22rem;
        padding: 2rem 3rem;

        text-align: center;
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: 700;

        background-color: $primary-color;
        color: #fff;

        &:hover {
          background-color: $primary-color-dark;
        }

        &:active {
          background-color: $primary-color;
        }
      }
    }
    .guitar--image {
      display: block;

      width: 148%;
      height: auto;
      padding: 8rem 0;
    }
  }

  .background--decoration {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 1.5%;

    background-color: $primary-color;
  }

  .image--triangle {
    position: absolute;
    bottom: 1.5%;
    left: 0;
    z-index: -1;

    width: 100%;
  }
}

//END OF HERO SECTION

//FEATURES SECTION

.features--section-wrapper {
  @include ff-raleway();

  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  height: 100vh;
  padding: 8em 14em;

  .background--decoration-features {
    position: absolute;

    width: 100%;
    height: 1.5%;
    top: 0;
    left: 0;

    background-color: $primary-color-dark;
  }

  .image--dark-triangle {
    position: absolute;
    top: 1.5%;
    left: 0;
    z-index: -1;

    width: 100%;
    height: auto;
  }

  .gigbag--image {
    display: block;

    width: 25rem;
    height: auto;
  }

  .features--content-container {
    @include border-test();

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 50%;
    height: auto;
  }
}

//END OF FEATURES SECTION
