@import "normalize.scss";
@import "mixins.scss";
@import "variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700&family=Source+Sans+Pro:wght@300;400;600&display=swap");

html {
  scroll-behavior: smooth;
}

@keyframes fadeInContent {
  from {
    transform: translateX(-10%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate {
  animation: fadeInContent 1s ease forwards;
}

//START OF HERO SECTION
.hero--section-wrapper {
  @include ff-raleway();

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;
  padding: 5% 8%;

  .nav--container {
    opacity: 0;
    display: flex;
    width: 100%;
    height: auto;

    .nav--list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      margin: 0;
      padding-top: 1rem;

      .nav--list-item {
        font-size: 2rem;

        .nav--list-link {
          padding: 0 1rem;
          margin: 0 1.5rem;

          color: $secondary-color;

          transition: 65ms ease-in-out;

          &:hover {
            border-bottom: 3px solid $primary-color-light;
            color: $primary-color-light;
          }
        }

        .logo--link {
          padding-left: 0;
          margin-left: 0;

          font-weight: 700;

          &:hover {
            border: none;

            color: $secondary-color;
          }
        }
      }
    }
  }

  .hero--content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    height: 85vh;
    padding-right: 18%;

    .hero--text-container {
      opacity: 0;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;

      .hero--content-title {
        margin-top: 2.5rem;
        padding: 1.5rem 0;

        font-size: 6rem;
        line-height: 7rem;
      }

      .hero--content-subtitle {
        padding-bottom: 1rem;

        font-size: 3.7rem;
        font-weight: 500;

        color: $secondary-color;

        .subtitle--decoration {
          color: $primary-color;

          font-weight: 600;
        }
      }

      .hero--content-description {
        @include ff-sourcesans();

        padding-top: 0;
        padding-bottom: 5rem;
        margin-top: 0;

        font-size: 2.01rem;
        max-width: 40ch;

        color: $secondary-color;
      }

      .btn--hero {
        width: 22rem;
        padding: 2rem 3rem;
        border-radius: 0.1em;

        text-align: center;
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: 700;

        background-color: $primary-color;
        color: #fff;

        &:hover {
          background-color: $primary-color-dark;
        }

        &:active {
          background-color: $primary-color;
        }
      }
    }
    .guitar--image {
      opacity: 0;
      display: block;

      width: 148%;
      height: auto;
      padding: 8rem 0;
    }
  }

  .background--decoration {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 1.5%;

    background-color: $primary-color;
  }

  .image--triangle {
    position: absolute;
    bottom: 1.5%;
    left: 0;
    z-index: -1;

    width: 100%;
  }
}
//END OF HERO SECTION

//FEATURES SECTION
.features--section-wrapper {
  @include ff-raleway();

  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  height: 100vh;
  padding: 4em 8%;
  padding-right: 7em;

  .background--decoration-features {
    position: absolute;

    width: 100%;
    height: 1.5%;
    top: 0;
    left: 0;

    background-color: $primary-color-dark;
  }

  .image--dark-triangle {
    position: absolute;

    top: 1.5%;
    left: 0;
    z-index: -1;

    width: 100%;
    height: auto;
  }

  .image--container-gig {
    opacity: 0;
    .gigbag--image {
      display: block;

      width: 100%;
      height: 100%;

      object-fit: contain;
    }
  }

  .features--content-container {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 50%;
    height: 100%;

    font-size: 2rem;

    .features--content-title {
      color: $primary-color-dark;

      text-transform: uppercase;
      font-size: 4.5rem;

      margin-bottom: -0.75rem;
    }

    .features--content-subtitle {
      @include ff-raleway();

      color: $secondary-color;

      max-width: 35ch;
      margin-bottom: 1em;

      font-size: 2.2rem;
      font-weight: normal;
    }

    ul {
      margin: 0;
      padding: 0;
      margin-left: 2.7rem;

      .features--content-listitem {
        @include ff-sourcesans();

        list-style: inside;
        list-style-position: outside;

        font-size: 2.01rem;

        padding-bottom: 2rem;
      }

      .features--content-listitem:last-child {
        padding-bottom: 0;
      }
    }
  }
}
//END OF FEATURES SECTION

//START OF REVIEW SECTION
.review--section-wrapper {
  @include ff-raleway();

  background-color: rgb(244, 244, 244);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
  padding: 4em 8%;

  .content--wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .review--content-container {
      opacity: 0;
      display: flex;

      flex-direction: column;
      text-align: center;

      .review--content-title {
        color: $primary-color-dark;

        text-transform: uppercase;
        font-size: 4.5rem;
      }

      .review--content-subtitle {
        color: $secondary-color;

        font-size: 2.2rem;
        font-weight: normal;
        margin-top: -1rem;
      }
    }

    .video--wrapper {
      width: 100%;
      max-width: 850px;
      margin: 3rem auto;

      .video--container {
        width: 100%;
        max-width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        position: relative;

        iframe {
          opacity: 0;
          max-width: 100%;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
}
//END OF REVIEW SECTION

//START OF FOOTER SECTION

.footer--section-wrapper {
  position: relative;
  @include ff-raleway();

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: auto;
  padding: auto 8%;
  background-color: #333;

  .content--wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .footer--content-container {
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 5rem;
      padding-bottom: 6rem;

      .footer--content-title {
        color: #fff;
        font-size: 4.5rem;
      }

      .footer--content-subtitle {
        color: rgb(232, 232, 232);
        font-size: 2.2rem;
        @include ff-sourcesans();
        margin-top: -1rem;
      }

      .btn--footer {
        width: 23rem;
        padding: 1rem 3rem;
        border-radius: 0.1em;
        margin-top: 3rem;

        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 700;

        background-color: $primary-color;
        color: #fff;

        &:hover {
          background-color: $primary-color-dark;
        }

        &:active {
          background-color: $primary-color;
        }
      }
    }

    .footer--section-links {
      background-color: rgb(18, 18, 18);
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 3rem 0;

      .footer--copyright {
        color: rgb(140, 140, 140);
        font-size: 1.6rem;
        letter-spacing: 0.08rem;
        padding-bottom: 1.2rem;
      }

      .social--icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;

        i {
          font-size: 3rem;
          color: rgb(140, 140, 140);
          transition: color 0.15s ease-in-out;

          &:hover {
            color: #ffffff;
          }
        }
      }
    }
  }
}

//END OF FOOTER SECTION
