@import "normalize.scss";
@import "mixins.scss";
@import "variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700&family=Source+Sans+Pro:wght@300;400;600&display=swap");

html {
  scroll-behavior: smooth;
}

@keyframes fadeInContent {
  from {
    transform: translateX(-10%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate {
  animation: fadeInContent 1s ease forwards;
}

//START OF HERO SECTION
#guitar-icon-home {
  transform: scale(50%);
}

.hero--section-wrapper {
  #guitar-icon-home {
    transform: scale(50%);
  }
  @include ff-raleway();
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: auto;
  padding: 0 8%;

  .content--wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    .nav--container {
      opacity: 0;
      display: flex;
      width: 100%;
      height: auto;
      padding-top: 8rem;

      #guitar-icon-home {
        transform: scale(50%);
      }

      .nav--list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        margin: 0;
        gap: 4.5rem;
        padding-top: 1rem;

        .nav--list-item {
          font-size: 2rem;

          .nav--list-link {
            color: $secondary-color;

            transition: 65ms ease-in-out;

            &:hover {
              border-bottom: 3px solid $primary-color-light;
              color: $primary-color-light;
            }
          }

          .logo--link {
            padding-left: 0;
            margin-left: 0;

            font-weight: 700;

            &:hover {
              border: none;

              color: $secondary-color;
            }
          }
        }
      }
    }

    .nav--container-mobile {
      display: none;
    }

    .hero--content-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      width: 100%;
      height: 100%;
      padding-right: 18%;
      padding-top: 4rem;
      padding-bottom: 15%;

      .hero--text-container {
        opacity: 0;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding-right: 6rem;

        .hero--content-title {
          margin-top: 2.5rem;
          padding: 0.75rem 0;

          font-size: 5rem;
          line-height: 7rem;
        }

        .hero--content-subtitle {
          padding-bottom: 1rem;

          font-size: 2.7rem;
          font-weight: 500;

          color: $secondary-color;

          .subtitle--decoration {
            color: $primary-color;

            font-weight: 600;
          }
        }

        .hero--content-description {
          @include ff-sourcesans();

          padding-top: 0;
          padding-bottom: 5rem;
          margin-top: 0;

          font-size: 2.01rem;
          max-width: 40ch;

          color: $secondary-color;
        }

        .btn--hero {
          width: 22rem;
          padding: 2rem 3rem;
          border-radius: 4px;

          text-align: center;
          font-size: 2.5rem;
          text-transform: uppercase;
          font-weight: 700;
          user-select: none;

          background-color: $primary-color;
          color: #fff;

          &:hover {
            background-color: $primary-color-dark;
          }

          &:active {
            background-color: $primary-color;
          }
        }
      }
      .guitar--image {
        opacity: 0;
        display: block;

        width: 148%;
        height: auto;
        padding: 8rem 0;
      }
    }

    .background--decoration {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;

      width: 100%;
      height: 1.5%;

      background-color: $primary-color;
    }

    .image--triangle {
      position: absolute;
      bottom: 1.5%;
      left: 0;
      z-index: -1;

      width: 100%;
    }
  }

  .nav--container-links {
    display: none;
  }
}

@media (max-width: 1000px) {
  .hero--section-wrapper {
    padding-top: 0;

    .content--wrapper {
      align-items: center;
      justify-content: center;

      .nav--container {
        display: none;
      }

      header {
        width: 119%;
        padding: 0;

        .nav--container-mobile {
          @include ff-raleway();
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 8%;
          width: 100%;
          height: 5rem;
          background-color: $primary-color;

          .logo-m {
            color: #fff;
            font-size: 2.5rem;
            font-weight: 700;
          }

          .nav--list-m {
            display: none;
          }
        }
      }

      .hero--content-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 0;
        padding-bottom: 10rem;
        padding-top: 0;

        .hero--text-container {
          opacity: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          flex-direction: column;
          padding-right: 0;

          .hero--content-title {
            padding: 0.75rem 0;
            padding-top: 0rem;

            font-size: 3.5rem;
            line-height: 4.5rem;
          }

          .hero--content-subtitle {
            padding-bottom: 1rem;

            font-size: 2.2rem;
          }

          .hero--content-description {
            @include ff-sourcesans();

            padding-top: 0;
            padding-bottom: 2rem;
            margin-top: 0;

            font-size: 1.8rem;
            max-width: 50ch;
          }

          .btn--hero {
            padding: 1rem 1rem;
            width: 18rem;
            font-size: 2rem;
          }
        }

        .guitar--image {
          opacity: 0;
          display: block;

          width: 100%;
          height: auto;
          padding: 0;
          padding-top: 5rem;
        }
      }

      .background--decoration {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;

        width: 100%;
        height: 1.5%;

        background-color: $primary-color;
      }

      .image--triangle {
        position: absolute;
        bottom: 1.5%;
        left: 0;
        z-index: -1;

        width: 100%;
      }

      .nav--container-links {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        gap: 2rem;
        padding: 0 8%;

        a {
          margin-top: 4rem;
          color: $secondary-color;
          font-size: 1.7rem;
          border-bottom: 2px solid transparent;
          transition: all 85ms ease;

          &:hover {
            color: $primary-color-dark;
            border-bottom: 2px solid $primary-color-dark;
          }

          &:active {
            background-color: #fff;
            outline: none;
          }
        }

        span {
          color: $primary-color;
          font-size: 1.7rem;
          margin-top: 4rem;
          margin-left: -1rem;
          margin-right: -1rem;
        }
      }
    }
  }
}

//END OF HERO SECTION

//FEATURES SECTION
.features--section-wrapper {
  @include ff-raleway();

  background-color: rgb(244, 244, 244);

  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  height: 100vh;
  padding: 4em 8%;
  padding-right: 7em;

  .background--decoration-features {
    position: absolute;

    width: 100%;
    height: 1.5%;
    top: 0;
    left: 0;

    background-color: $primary-color-dark;
  }

  .image--dark-triangle {
    position: absolute;

    top: 1.5%;
    left: 0;
    z-index: 0;

    width: 100%;
    height: auto;
  }

  .image--container-gig {
    opacity: 0;
    .gigbag--image {
      display: block;

      width: 100%;
      height: 100%;

      object-fit: contain;
    }
  }

  .features--content-container {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 50%;
    height: 100%;

    font-size: 2rem;

    .features--content-title {
      color: $primary-color-dark;

      text-transform: uppercase;
      font-size: 4.5rem;

      margin-bottom: 0.5rem;
    }

    .features--content-subtitle {
      @include ff-raleway();

      color: $secondary-color;

      max-width: 35ch;
      margin-bottom: 1em;

      font-size: 2.2rem;
      font-weight: normal;
    }

    ul {
      margin: 0;
      padding: 0;

      .features--content-listitem {
        @include ff-sourcesans();

        list-style: none;

        font-size: 2.2rem;

        padding-bottom: 2.5rem;

        i {
          padding-right: 1.5rem;
          color: $primary-color-dark;
        }
      }

      .features--content-listitem:last-child {
        padding-bottom: 0;
      }
    }
  }
}

@media (max-width: 1000px) {
  .features--section-wrapper {
    @include ff-raleway();

    background-color: rgb(244, 244, 244);

    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2% 4%;

    height: auto;
    width: 100%;

    .image--container-gig {
      display: none;
    }

    .features--content-container {
      opacity: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 100%;
      height: auto;

      font-size: 2rem;
      text-align: center;
      padding-top: 8rem;
      padding-bottom: 4rem;
      .features--content-title {
        color: $primary-color-dark;

        text-transform: uppercase;
        font-size: 3rem;
      }

      .features--content-subtitle {
        @include ff-raleway();

        color: $secondary-color;

        max-width: auto;
        margin-bottom: 1.5em;

        font-size: 2rem;
        font-weight: normal;
      }

      ul {
        text-align: center;
        width: 100%;

        .features--content-listitem {
          @include ff-sourcesans();

          list-style: none;

          font-size: 2rem;

          padding-bottom: 3.5rem;
        }

        .features--content-listitem:last-child {
          padding-bottom: 0;
        }
      }
    }
  }
}
//END OF FEATURES SECTION

//START OF REVIEW SECTION
.review--section-wrapper {
  @include ff-raleway();

  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
  padding: 4em 8%;

  .content--wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .review--content-container {
      opacity: 0;
      display: flex;

      flex-direction: column;
      text-align: center;

      .review--content-title {
        color: $primary-color-dark;

        text-transform: uppercase;
        font-size: 4.5rem;
      }

      .review--content-subtitle {
        color: $secondary-color;

        font-size: 2.2rem;
        font-weight: normal;
        margin-top: 0.5rem;
      }
    }

    .video--wrapper {
      width: 100%;
      max-width: 850px;
      margin: 3rem auto;

      .video--container {
        width: 100%;
        max-width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        position: relative;

        iframe {
          opacity: 0;
          max-width: 100%;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .review--section-wrapper {
    display: flex;
    height: auto;

    .content--wrapper {
      .review--content-container {
        .review--content-title {
          font-size: 3rem;
        }

        .review--content-subtitle {
          font-size: 2rem;
          padding-bottom: 3rem;
        }
      }
    }
  }
}
//END OF REVIEW SECTION

//START OF SOUND TEST SECTION
.soundtest--section-wrapper {
  @include ff-raleway();

  background-color: rgb(244, 244, 244);

  display: flex;
  flex-direction: column;

  text-align: center;

  padding: 4em 8%;
  padding-bottom: 0;
}

@media (max-width: 1000px) {
  .soundtest--section-wrapper {
    display: none;
  }
}

.soundtest--section-heading {
  opacity: 0;
  margin-bottom: 5rem;
}

.soundtest--section-title {
  color: $primary-color-dark;

  text-transform: uppercase;
  font-size: 4.5rem;
}

.soundtest--section-subtitle {
  color: $secondary-color;

  font-size: 2.2rem;
  font-weight: normal;
  margin-top: 0.5rem;
}

//Slider Toggle Styles
.soundtest--slider {
  margin-bottom: 3rem;
  opacity: 0;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .slider-background {
    border: 2px solid $secondary-color;
    width: 20rem;
    height: 2.5rem;
    padding: 0.45rem 0.4rem;
    border-radius: 0.4rem;
    margin: 2rem 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5),
      0 3px 5px 2px rgba(0, 0, 0, 0.1);

    .slider {
      width: 50%;
      height: 100%;
      border-radius: 0.2rem;
      transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
      border: none;
    }
  }
}

.slider-disabled {
  background-color: rgb(106, 106, 106);
  transform: translateX(0);
}

.slider-enabled {
  background-color: $primary-color-dark;
  transform: translateX(100%);
}

.toggle-text {
  font-family: "Raleway";
  color: $secondary-color;
  font-size: 2rem;
  user-select: none;
}

.text-disabled::after {
  content: " Disabled";
  font-family: "Source Sans Pro";
  letter-spacing: 0.03rem;
  font-weight: bolder;
  color: rgb(106, 106, 106);
  transition: color 0.2s ease-in-out;
}

.text-enabled::after {
  font-family: "Source Sans Pro";
  content: " Enabled";
  letter-spacing: 0.03rem;
  font-weight: bolder;
  color: $primary-color-dark;
  transition: color 0.2s ease-in-out;
}

.soundtest--content-container {
  // @include border-test();
  display: flex;
  justify-content: center;
  height: auto;
  opacity: 0;
}

.guitar-container {
  // border: 2px solid blue;
  display: flex;
  height: 20rem;
  min-width: 70rem;
  user-select: none;

  .guitar-head {
    position: relative;
    z-index: 2;
    width: 5rem;
    background-image: url("../imgs/guitarneck.jpg");
    filter: brightness(1.3);
    color: #fff;
    box-shadow: inset -10px 0 30px 5px #010101;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    .string-name-indicator {
      padding-left: 2rem;
    }
  }

  .guitar-neck {
    position: relative;
    width: 55rem;
    height: 100%;

    .guitar-neck-bg {
      position: absolute;
      display: block;
      background-image: url("../imgs/lightgrain.jpeg");
      filter: brightness(0.5);
      width: 100%;
      height: 100%;
      z-index: 0;
      box-shadow: inset 0 0 6px 4px rgba(0, 0, 0, 0.5);
    }

    .guitar-frets {
      // border: 2px solid lime;
      display: flex;
      justify-content: space-around;
      width: 100%;
      height: 100%;
      position: absolute;

      .fret {
        margin: auto 0;
        width: 0.6rem;
        height: 97%;
        background-color: #7e7e7e;
        box-shadow: inset 0 0 2px 2px rgb(65, 65, 65),
          0 0 6px 2px rgba(0, 0, 0, 0.1);
        z-index: 1;
      }
    }

    .guitar-strings {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: absolute;
      width: 100%;
      height: 100%;
      // border: 2px solid magenta;s
      z-index: 1;

      .string {
        height: 1.3rem;
        width: 100%;
        background-color: #fff;
        box-shadow: inset -5px 0 4.5px 3.5px rgba(106, 106, 106, 1),
          0 0 6px 2px rgba(69, 69, 69, 0.8);

        &:hover {
          background-color: #d74a4f;
          box-shadow: inset 0 0 4.5px 3.5px #600508,
            0 0 6px 2px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
  .guitar-end {
    width: 2rem;
    background-color: rgb(244, 244, 244);
    box-shadow: -20px 0 15px 20px rgb(244, 244, 244);
    z-index: 1;
  }
}

.chord-selector {
  color: $secondary-color;
  font-size: 2rem;
  transform: translateY(-12.5rem);

  .chord-text {
    user-select: none;
  }
}

.chord-dropdown {
  display: flex;
  flex-direction: column;
  background-color: #d7d7d7;
  border-radius: 5px;
  margin-top: 1rem;
  z-index: 1;
  box-shadow: 0 10px 10px 1px rgba($color: #828282, $alpha: 0.1);

  p {
    user-select: none;
    padding: 1rem 0;
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
      background-color: $primary-color-dark;
      color: #fff;
    }

    &:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.selected {
  background-color: $primary-color-dark;
  color: #fff;
}

.greyed {
  background-color: #a4a4a4;
}

.guitar-overlay {
  position: absolute;
  z-index: 2;
  background-color: $secondary-color;
  width: 115%;
  height: 110%;
  top: -1rem;
  left: -6rem;
  opacity: 0;
}

.chord-select-overlay {
  position: absolute;
  z-index: 2;
  background-color: $secondary-color;
  width: 102%;
  height: 104%;
  opacity: 0;
}

//END OF SOUND TEST SECTION

//START OF HIGHLIGHTS SECTION
.highlights--section-wrapper {
  @include ff-raleway();

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: auto;
  padding: 5rem 8%;
}

.highlights--title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  opacity: 0;

  h1 {
    color: $primary-color-dark;

    text-transform: uppercase;
    font-size: 4.5rem;
  }
  h2 {
    color: $secondary-color;

    font-size: 2.2rem;
    font-weight: normal;
    margin-top: 0.45rem;
  }
}

.highlights--content {
  @include ff-sourcesans();
  display: flex;
  margin-top: 4rem;
  text-align: center;

  .highlights--card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;

    background-color: #e4e4e4;
    border-radius: 5px;
    gap: 3rem;
    padding: 4rem 12rem;
    border-top: 5px solid $secondary-color;
    border-bottom: 5px solid $secondary-color;

    p {
      font-size: 2rem;
      color: $secondary-color;

      i {
        font-size: 1.75rem;
        color: $primary-color-dark;
        padding: 0 2rem;
      }
      span {
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 1000px) {
  .highlights--section-wrapper {
    background-color: #f4f4f4;
  }

  .highlights--title {
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 2rem;
    }
  }

  .highlights--content {
    @include ff-sourcesans();
    display: flex;
    margin-top: 4rem;

    .highlights--card {
      background-color: #e4e4e4;
      gap: 4rem;
      padding: 4rem 2rem;
      p {
        font-size: 1.75rem;

        i {
          font-size: 1.5rem;
          padding: 0 1.75rem;
        }
      }
    }
  }
}

//END OF HIGHLIGHTS SECTION

//START OF FOOTER SECTION

.footer--section-wrapper {
  @include ff-raleway();

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: auto;
  padding: auto 8%;
  background-color: $secondary-color;

  .content--wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .footer--content-container {
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 5rem;
      padding-bottom: 6rem;

      .footer--content-title {
        color: #fff;
        font-size: 4.5rem;
      }

      .footer--content-subtitle {
        color: rgb(232, 232, 232);
        font-size: 2.2rem;
        @include ff-sourcesans();
        margin-top: 0.5rem;
      }

      .btn--footer {
        width: 23rem;
        padding: 1rem 3rem;
        border-radius: 4px;
        margin-top: 3rem;

        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 700;

        background-color: $primary-color;
        color: #fff;

        user-select: none;

        &:hover {
          background-color: $primary-color-dark;
        }

        &:active {
          background-color: $primary-color;
        }
      }
    }

    .footer--section-links {
      background-color: rgb(18, 18, 18);
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 3rem 0;

      .footer--copyright {
        color: rgb(140, 140, 140);
        font-size: 1.6rem;
        letter-spacing: 0.08rem;
        padding-bottom: 1.2rem;
      }

      .social--icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;

        i {
          font-size: 3rem;
          color: rgb(140, 140, 140);
          transition: color 0.15s ease-in-out;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .footer--section-wrapper {
    .content--wrapper {
      .footer--content-container {
        .footer--content-title {
          color: #fff;
          font-size: 3rem;
        }

        .footer--content-subtitle {
          font-size: 2rem;
          margin-top: 0.5rem;
        }

        .btn--footer {
          padding: 1rem 1rem;
          font-size: 2rem;
          width: 22rem;
        }
      }

      .footer--section-links {
        .footer--copyright {
          font-size: 1.4rem;
        }

        .social--icons {
          gap: 2.5rem;

          i {
            font-size: 2.3rem;
          }
        }
      }
    }
  }
}
//END OF FOOTER SECTION
